#contentArticle h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;                                                                                
  }
  
  #contentArticle p{
    font-size: 22px;
  }

  #contentArticle time{
    font-size: 15px;
  }

 