@charset "utf-8";

$grey:hsl(0, 0%, 21%);

$footer-background-color: $grey;
$footer-padding:5rem 1.5rem 10rem;
$card-background-color: pink;

@import "../mybulma/bulma.sass";
@import "/scss/extensions/_all.sass"
